beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
datetimejp==1.0.0
idna==3.7
iniconfig==2.0.0
jaconv==0.3.4
lxml==5.2.2
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pluggy==1.5.0
psycopg2-binary==2.9.9
PyMySQL==1.1.1
pytest==8.2.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.2
six==1.16.0
soupsieve==2.5
tqdm==4.66.4
tzdata==2024.1
urllib3==2.2.1
